{{ t.renderWidget('mozzler.base.widgets.model.CreateModel', {
	'model': model
}) }}

{#
{% set form = t.load('yii.widgets.ActiveForm', {'id': 'form-' ~ model.name ~ '-' ~ model.scenario}) %}
{% set form = form.begin() %}

	{% for attribute in model.activeAttributes() %}
		{{ t.renderWidget('mozzler.base.widgets.model.input.RenderField', {
			'form': form,
			'model': model,
			'attribute': attribute
		}) }}
	{% endfor %}

    <div class="form-group">
        {{ html.submitButton('Create', []) }}
    </div>

{% set form = form.end() %}
#}