<div class="page-model-view">
    {{ t.renderWidget("mozzler.base.widgets.model.IndexHeader", arrayhelper.merge(config.headerConfig, {"model": model})) }}
    {{ t.renderWidget('kartik.grid.GridView', config.gridViewConfig, false) }}
</div>