<div class="page-model-view">
    {{ t.renderWidget("mozzler.base.widgets.model.ViewHeader", arrayhelper.merge(config.headerConfig, {"model": model})) }}
    {{ t.renderWidget("mozzler.base.widgets.model.ViewModel", arrayhelper.merge(config.viewConfig, {"model": model})) }}
    {# t.renderWidget("model/view/relatePanels", config.relatePanelsConfig|merge({"model": model})) #}
</div>