.widget-model-filter .panel-heading .buttons {
    float: right;
}

.widget-model-filter .panel-heading .buttons .btn {
    margin-top: -6px;
}

.widget-model-filter .form-group {
    margin-right: auto;
    margin-left: auto;
}