.widget-model-filter .panel-heading .buttons {
    float: right;
}

.widget-model-filter .panel-heading .buttons .btn {
    margin-top: -6px;
}

.widget-model-filter .form-group {
    margin-right: auto;
    margin-left: auto;
}

.widget-model-filter .select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
    margin-top: 0px;
}